body {
    display: flex;
    justify-content: center;
    background-image: url("img/pexels-suzyhazelwood-2382325.jpg");
    background-color: #b4dbb3;
    background-size: 200px;
    background-repeat: repeat;
}

.app {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 800px;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.appStart {
    max-width: 550px;
    text-align: center;
}

h1 {
    font-family: "Cinzel", serif;
    font-weight: 900;
    font-size: 4em;
    font-style: normal;
    color: #FFFFFF;
    background: #0C211D; /*#0D1723;*/
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.25em;
    margin: 30px 0 10px 0;
}


.instructions {
    /*width:400px;*/
    width: 30%;
    padding: 4em 2em;
    font-size: 1em;
    font-style: normal;
   /* background:#4A7750;
    background: #599559;*/
    background: #D6FDC4;
    color: #0C211D; 
    margin: 10px 0 30px 0;
    border: #0C211D 2px solid;
    border-radius: 0.25em;
    box-sizing: border-box;
}

.instructionsStart{
    /*margin-top: 50px;*/
    width:300px;
    padding: 1em;
}

.instructions h2{
    margin:0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
}

.startAgain {
    margin: 0 100px 30px 100px;
    padding: 0.5em;
    font-size:2em;
    font-weight: 600;
    background: #539756; 
    border: white 2px solid;
    text-transform: uppercase;
}

.levels {
    /*margin: 100px 0 300px 0;*/
    margin: 5% 0 10% 0;
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.levels button{
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5em;
    color: #FFFFFF;
    border:#0C211D;
    background: #609167;
}

.main {
    width: 70%;
    margin: 10px 0 10px 0; /* to mimic instructions */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.gameboard {
    height: 500px;
    width: 500px;
    background-color: #044707;
    display: flex;
    flex-flow: row wrap;
    border: 3px solid #012002;
    margin-bottom: 20px;
}

.grid-item {
    height: 100px;
    width: 100px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #044707;
    position: relative;
    display: flex;
    justify-content: center;
}

.grid-item2 {
    height: 50px;
    width: 50px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #044707;
    position: relative;
    display: flex;
    justify-content: center;
}

.wall {
    background:  #012002;
}

.finish{
    z-index:0;
    margin:30px;
    position: absolute;
    color: #FFFFFF;
    font-weight: 600;
    font-size:1.8em;
}

.finish2 {
    z-index:0;
    margin:15px 0;
    position: absolute;
    color: #FFFFFF;
    font-weight: 600;
    font-size:0.9em;
}

.robot {
    height: 80px;
    width:80px;
    margin: 10px;
    z-index: 2;
    position:absolute;
}

.robot2{
    height:40px;
    width:40px;
    margin: 5px;
    z-index: 2;
    position:absolute;
}

.controls {
    width: 450px;
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
    background: #b0b0b0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 12px 20px rgba(17, 24, 39, .2);
}

.turns {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 60%;
    height: 110px;
}

button {
    font-weight: 400;
    font-size: 0.9em;
    font-style: normal;
    background:#FFFFFF;
    border-radius: 1em;
    font-family: "Bitter", serif;
}

button:hover{
    outline: 2px solid #FFFFFF;
}

.turns button{
    margin: 0 5px;
    width: 120px;
}

.by {
    margin-top: 10%;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    padding: 0.5em;
    text-transform: uppercase;
    font-style: normal;
    color: #FFFFFF;
    border-radius: 0.25em;
    background: #0C211D;
}

.win{
    border: 5px dotted black;
    font-size: 2em;
    padding:   15px;
    width: 500px;
    text-align: center;
}

/*needs to be after display:flex */
.hide{
    display: none;
}

